* {
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  transition: background-image 0.5s ease-in-out;
  background-size: contain;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;

}

header {
  display: flex;
}

#fs {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 25px;
  right: 25px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.blur {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px;
}

#slogan {
  margin-top: 10px;
  color: #DDD;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-weight: bolder;
  font-size: 5rem;
  flex-grow: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#me {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
}

footer.blur {
  padding-bottom: 5px;
  color: #DDD;
}

a {

  color: white;
  font-weight: bold;

  &:visited {
    color: #8400ff;
  }

  &:focus {
    color: #ffd700;
  }

  &:hover {
    color: #455566;
  }
}